<div class='fullheight bgray search'>
  <div class='container'>
    <h1 class="mt-5">Search Across Several Resources</h1>
    <p class="lead">Including "Case Insensitive" "Misspellings" and "sloppy search" in general</p>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= render 'searches/form' %>
      </div>
    </div>
  </div>
</div>

<%= render 'searches/books' %>
<%= render 'searches/games' %>
<%= render 'searches/videos' %>
<%= render 'searches/authors' %>
